body{ /*画面端にナビを揃える*/
  margin: 0;
  padding: 0;
}

#navigation{
background-color: dimgray;
  display: flex;
  padding: 20px;
  width: 100vw;
  border-radius: 5px;
  margin: 0;
  max-width: 100%;
  justify-content: flex-end;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation li{
  list-style-type: none;
margin-right: 10px;
  display: inline-block;
}

#navigation li a{
font-size: 15px;
padding: 15px;
color: white;
  text-decoration: none;
}

/*ここから階層を作る指定が始まりまーす！*/

#navigation li{
position: relative; 
}

#navigation li ul{
display: none;/*通常時は非表示*/
position: absolute;
text-align: center;
margin-top: 20px;
width: 180px;
background-color: grey;
}

#navigation li:hover > ul {
display: block;/*マウスが当たった時に表示する*/
}

#navigation li ul li{
margin: 0 auto;
padding: 15px;
list-style-type: none;
}

#navigation li a[name="mozi"]{
padding: 50px;
}

#navigation li a[name="biggest"]{
white-space: nowrap;
}

